*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filters {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}
.language{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
}
.filters h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.filters > div {
  margin-bottom: 20px;
}

.filters label {
  margin-left: 5px;
}

.movies {
  width: 100%;
  /* max-width: 1000px; */
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #ddd;
}

.movie-details {
  padding: 10px;
}

.movie-details h3 {
  font-size: 1.2rem;
  margin-top: 0;
}

.movie-details p {
  margin: 5px 0;
}

/* Checkbox styles */

input[type="checkbox"] {
  margin-right: 5px;
}
